@charset "UTF-8";
/*-----GRIDS INDEX*-----/
/*---VERSION DESKTOP---*/
@media (min-width: 1024px) {
  #grid-area {
    display: grid;
    /*BOCETO DE GRILLA*/
    grid-template-areas: "encabezado encabezado" "menu menu" "beauty beauty" "animals animals" "colors colors" "piepagina piepagina";
  }

  #beauty, #animals, #colors {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /*Area Names*/
  header {
    grid-area: encabezado;
  }

  nav {
    grid-area: menu;
  }

  #beauty {
    grid-area: beauty;
  }

  #animals {
    grid-area: animals;
  }

  #colors {
    grid-area: colors;
  }

  #parrafo {
    grid-area: parrafo;
  }

  footer {
    grid-area: piepagina;
  }
}
/*---VERSION TABLET---*/
@media (min-width: 480px) and (max-width: 1023px) {
  /*GRIDS INDEX*/
  #grid-area {
    display: grid;
    /*BOCETO DE GRILLA*/
    grid-template-areas: "encabezado encabezado" "menu menu" "beauty beauty" "animals animals" "colors colors" "piepagina piepagina";
  }

  #beauty, #animals, #colors {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /*Area Names*/
  header {
    grid-area: encabezado;
  }

  nav {
    grid-area: menu;
  }

  #beauty {
    grid-area: beauty;
  }

  #animals {
    grid-area: animals;
  }

  #colors {
    grid-area: colors;
  }

  #parrafo {
    grid-area: parrafo;
  }

  footer {
    grid-area: piepagina;
  }
}
/*---VERSION MOBILE---*/
@media (max-width: 479px) {
  #grid-area {
    display: grid;
    /*BOCETO DE GRILLA*/
    grid-template-areas: "encabezado" "menu menu" "beauty" "animals" "colors" "piepagina";
  }

  #beauty, #animals, #colors {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /*Area Names*/
  header {
    grid-area: encabezado;
  }

  nav {
    grid-area: menu;
  }

  #beauty {
    grid-area: beauty;
  }

  #animals {
    grid-area: animals;
  }

  #colors {
    grid-area: colors;
  }

  #parrafo {
    grid-area: parrafo;
  }

  footer {
    grid-area: piepagina;
  }
}
/*-----FONDO DEL SITIO-----*/
.background {
  background: color #9f476a;
}

/*---Clases generales - usedforall---*/
.padding {
  padding-left: 1%;
  padding-right: 1%;
}

/*-----CONFIGURACION DEL HEADER-----*/
header {
  background-color: color black;
}

.backgroundbanner {
  background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-black-luxury-perfume-background-banner-image_264575.jpg);
  background-size: cover;
}

.miley {
  color: #F844FA;
}

h3 {
  padding-top: 8px;
}

.alineacioniconos {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.iconosredes {
  width: 25px;
  height: 40px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 1%;
}

/*-----MENU-----*/
ul {
  background-color: color black;
  padding-bottom: 2%;
  padding-top: 2%;
  display: flex;
  flex-wrap: wrap;
}
ul span {
  display: inline-block;
  padding-right: 5%;
  padding-left: 5%;
}
ul span .menunounderline {
  text-decoration: none;
  color: #FAB3D4;
}

.onelinemenu {
  display: inline-block;
  width: 100%;
}

/*-----BODY-----*/
/*Padding for pictures*/
.paddingpics1 {
  max-width: 33%;
  display: inline-block;
}

.paddingpics2 {
  max-width: 100%;
  display: inline-block;
}

/*Padding for Paragraphs*/
.oneline {
  display: inline-flex;
}

/*COLORS SECTION*/
.mitadcolor {
  display: flex;
  width: 50%;
}

.oneline {
  display: inline-flex;
}

.centrar {
  align-items: center;
}

.enddetails {
  padding-bottom: 30px;
}

/*FOOTER*/
.diseñopie {
  background-color: black;
  padding-top: 20px;
  padding-left: 5px;
  padding-bottom: 20px;
  color: #F844FA;
  font-weight: bold;
}

/*# sourceMappingURL=finale.css.map */
