/*ESTRUCTURA DEL SITIO WEB*/

/*ESTILOS GENERALES*/
/*Fonts*/
body{width: 100%;
    height: 100vh;} 
    
    /*Margenes*/
    *{margin: 0;
    padding: 0%;}    
    
    /*Fondo del sitio*/
    .background{ 
        background:  #F5D9E4 }
    
        .padding {
            padding-left: 1%;
            padding-right: 1%;}
        
        .alinear {text-align: justify;}
        
/*Padding repetir*/
.paddingcarousel
{padding-bottom: 20px;}

.centrar
{text-align: center;}

/*ENCABEZADO*/

header{ 
    background-color: black;}

.backgroundbanner{ 
    background-image:url(https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-black-luxury-perfume-background-banner-image_264575.jpg);
    background-size: cover;}

.alineacioniconos
{display : flex;    
justify-content: flex-end;
align-items:flex-end}

/*FOOTER*/
.diseñopie
{background-color: black;
padding-top: 20px;
padding-left: 5px;
padding-bottom: 20px;
 color:  #ee91d5ef;
font-weight: bold;} 

/*HEADER*/
.miley {
    color: #F844FA;}

.padding {
    padding-left: 1%;
    padding-right: 1%;}
/*
MENU*/
.navbackground
{background-color: black;
    padding-bottom: 2%;
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;}

.onelinemenu
{display: inline-block; 
width: 100%;}

span {
display: inline-block;
padding-right: 5%;
padding-left: 5%;}

.menunounderline {
    text-decoration: none;
    color:#FAB3D4;}

/*----------
INDEX BODY
---------*/

/*ESTRUCTURA DEL SITIO WEB*/

/*----------INDEX----------*/

/*****
-------VERSION DESKTOP-------
*****/
body{width: 100%;
    height: 100vh;} 
    
    /*Margenes*/
    *{margin: 0;
    padding: 0%;}    
/**/    
@media
(min-width: 1024px) {
    
/*-----GRIDS INDEX-----*/
#gridarea10
{display: grid;

/*BOCETO GRILLA INDEX*/
grid-template-areas: 
"encabezado encabezado encabezado"
"menu menu menu"
"beauty beauty beauty"
"animals animals animals"
"colors colors colors"
"piepagina piepagina piepagina";}}

/*Area Names*/
header
{grid-area: encabezado;}

ul
{grid-area: menu;}

 #beauty
 {grid-area: beauty;}

 #animals
 {grid-area: animals;}

 #colors
 {grid-area: colors;}
/**/
 footer
 {grid-area: piepagina;}

 #beauty, #animals, #colors
 {padding-top: 10px;
    padding-bottom: 10px;}

    /*Encabezado*/
    .iconosredes
{width: 30px;
    height: 30px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 1%;}

    .alineacioniconos
{display : flex; 
justify-content: flex-end;
align-items:flex-end}

    /*Segmento Beauty*/
    .paddingpics1
{max-width: 33%;
    display:inline-block;
padding-top: 15px;
padding-bottom: 15px;
}

.paddingpics2
{  max-width: 90%;
    display: inline-block;}
    
 /*****
-------VERSION TABLET-------
*****/

@media
(min-width:480px) and (max-width: 1023px){
/*-----GRIDS INDEX-----*/
#gridarea10
{display: grid;

/*BOCETO GRILLA TABLET*/
grid-template-areas: 
"encabezado encabezado encabezado"
"menu menu menu"
"beauty beauty beauty"
"animals animals animals"
"colors colors colors"
"piepagina piepagina piepagina";}}

/*Area Names*/
header
{grid-area: encabezado;}

ul
{grid-area: menu;}

 #beauty
 {grid-area: beauty;}

 #animals
 {grid-area: animals;}

 #colors
 {grid-area: colors;}

 footer
 {grid-area: piepagina;}

 #beauty, #animals, #colors
 {padding-top: 10px;
    padding-bottom: 10px;}

/*Menu*/
.iconosredes
{width: 20px;
height: 20px;
padding-top: 2%;
padding-bottom: 1%;
padding-right: 0.5%;}

.alineacioniconos
{display : flex; 
justify-content: flex-end;
align-items:flex-end}

/*Segmento Beauty*/
.paddingpics1
{max-width: 33%;
margin-top: 20px;
display: inline-block;}

.paddingpics2
{  max-width: 90%;
    display: inline-block;}

/*****
-------VERSION MOBILE-------
*****/

@media(max-width: 479px)
{#gridarea10
{display: grid;

/*BOCETO GRILLA MOBILE*/
grid-template-areas: 
"encabezado"
"menu"
"beauty"
"animals"
"colors"
"piepagina";}}

/*Area Names*/
header
{grid-area: encabezado;}

ul
{grid-area: menu;}

 #beauty
 {grid-area: beauty;}

 #animals
 {grid-area: animals;}

 #colors
 {grid-area: colors;}
 
footer
 {grid-area:piepagina;}

 #beauty, #animals, #colors
 {padding-top: 10px;
    padding-bottom: 10px;}

    /*Menu*/
    .iconosredes
    {width: 25px;
    height: 40px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 1%;}
    
    .alineacioniconos
    {display : flex; 
    justify-content: flex-end;
    align-items:flex-end}

    /*Segmento Beauty*/
    .paddingpics1
{max-width: 30%;    
margin-top: 20px;
display: inline-block;}

.paddingpics2
{  max-width: 100%;
    display: inline-block;}

/* ----------- END GRIDS ZONE for index ----------*/

/*----------OUR COMPANY----------*/

/*****
-------VERSION DESKTOP-------
*****/
body{width: 100%;
    height: 100vh;} 
    
    /*Margenes*/
    *{margin: 0;
    padding: 0%;}    

@media
(min-width: 1024px) {

/*-----GRIDS OUR COMPANY-----*/
#grid-area9
{display: grid;

/*BOCETO GRILLA DESKTOP*/
grid-template-areas: 
"encabezado encabezado"
"menu menu"
"ourstory ourstory"
"location location"
"academies academies"
"piepagina piepagina"}}

/*Area Names*/
header
{grid-area: encabezado;}

ul
{grid-area: menu;}

 #ourstory
 {grid-area: ourstory;}

 #location
 {grid-area: location;}

 #academies
 {grid-area: academies;}

 footer
 {grid-area: piepagina;}
 
 #ourstory, #location, #academies
 {padding-top: 10px;
    padding-bottom: 10px;}

/*Menu*/
.iconosredes
{width: 25px;
height: 40px;
padding-top: 2%;
padding-bottom: 2%;
padding-right: 1%;}

.alineacioniconos
{display : flex; 
justify-content: flex-end;
align-items:flex-end}

/*****
-------VERSION TABLET-------
*****/
body{width: 100%;
    height: 100vh;} 
    
    /*Margenes*/
    *{margin: 0;
    padding: 0%;}    

@media
(min-width:480px) and (max-width: 1023px)
/*------GRIDS OUR COMPANY-----*/
{#grid-area9
    {display: grid;

        /*BOCETO GRILLA OUR COMPANY*/
        grid-template-areas: 
        "encabezado encabezado"
        "menu menu"
        "ourstory ourstory"
        "location location"
        "academies academies"
        "piepagina piepagina"}}
                
        /*Area Names*/
        header
        {grid-area: encabezado;}
        
        ul
        {grid-area: menu;}
        
         #ourstory
         {grid-area: ourstory;}
        
         #location
         {grid-area: location;}
        
         #academies
         {grid-area: academies;}
        
         footer
         {grid-area: piepagina;}
         
         #ourstory, #location, #academies
         {padding-top: 10px;
            padding-bottom: 10px;}                

/*Menu*/
.iconosredes
{width: 20px;
height: 20px;
padding-top: 2%;
padding-bottom: 1%;
padding-right: 0.5%;}

.alineacioniconos
{display : flex; 
justify-content: flex-end;
align-items:flex-end}

/*****
-------VERSION MOBILE-------
*****/
body{width: 100%;
    height: 100vh;} 
    
    /*Margenes*/
    *{margin: 0;
    padding: 0%;}    

    @media(max-width: 479px){
    #grid-area9
    {display: grid;

    /*BOCETO GRILLA MOBILE*/
    grid-template-areas: 
    "encabezado"
    "menu"
    "ourstory"
    "location"
    "academies"
    "piepagina"}}
         
/*Area Names*/
header
{grid-area: encabezado;}

ul
{grid-area: menu;}

 #ourstory
 {grid-area: ourstory;}

 #location
 {grid-area: location;}

 #academies
 {grid-area: academies;}

 footer
 {grid-area: piepagina;}

 #ourstory, #location, #academies 
 {padding-top: 10px;
    padding-bottom: 10px;}

    /*Menu*/
    .iconosredes
    {width: 25px;
    height: 40px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 1%;}
    
    .alineacioniconos
    {display : flex; 
    justify-content: flex-end;
    align-items:flex-end}

/*------------ENDS GRID ZONE for Our Company -----------*/

/*----------PRODUCTS----------*/

/*****
-----VERSION DESKTOP-----
*****/

@media
(min-width: 1024px) {


/*GRIDS PRODUCTS*/
#grid-area3
{display: grid;

/*BOCETO GRILLA DESKTOP*/
grid-template-areas: 
"encabezado encabezado encabezado"
"menu menu menu"
"skincare skincare skincare"
"makeup1 makeup1 makeup1"
"piepagina piepagina piedepagina";}}

/*Area Names*/
header
{grid-area: encabezado;}

ul
{grid-area: menu;}

 #skincare 
 {grid-area: skincare;}

 #makeup1
 {grid-area: makeup1;}

 footer
 {grid-area: piepagina;}

 #takingcare, #beautyproducts
 {padding-top: 10px;
    padding-bottom: 10px;}

/*Menu*/
.iconosredes
{width: 25px;
height: 40px;
padding-top: 2%;
padding-bottom: 2%;
padding-right: 1%;}

.alineacioniconos
{display : flex; 
justify-content: flex-end;
align-items:flex-end}

.paddingpics3
{width: 30%;}

.paddingpics2
{ max-width: 45%;
    display:inline-block;
padding-top: 15px;
padding-bottom: 15px;}

/*****
-------VERSION TABLET-------
*****/

@media
(min-width:480px) and (max-width: 1023px)
/*------GRIDS PRODUCTS-----*/
{#grid-area3
    {display: grid;

        /*BOCETO GRILLA TABLET*/
grid-template-areas: 
"encabezado encabezado encabezado"
"menu menu menu"
"skincare skincare skincare"
"makeup1 makeup1 makeup1"
"piepagina piepagina piepagina";}}

/*Area Names*/
header
{grid-area: encabezado;}

nav
{grid-area: menu;}

 #skincare 
 {grid-area: skincare;}

 #makeup1
 {grid-area: makeup1;}

 footer
 {grid-area: piepagina;}

 #skincare, #makeup1
 {padding-top: 10px;
    padding-bottom: 10px;}

    /*Menu*/
.iconosredes
{width: 20px;
height: 20px;
padding-top: 2%;
padding-bottom: 1%;
padding-right: 0.5%;}

.alineacioniconos
{display : flex; 
justify-content: flex-end;
align-items:flex-end}

.paddingpics3
{width: 30%;}

.paddingpics2
{ max-width: 45%;
    display:inline-block;
padding-top: 15px;
padding-bottom: 15px;}


/*****
-------VERSION MOBILE-------
*****/
@media(max-width: 479px) {

    /*GRIDS PRODUCTS*/
    #grid-area3
    {display: grid;
    
    /*BOCETO GRILLA MOBILE*/
    grid-template-areas: 
"encabezado"
"menu"
"skincare"
"makeup1"
"piepagina";}}

/*Area Names*/
header
{grid-area: encabezado;}

ul
{grid-area: menu;}

 #skincare 
 {grid-area: skincare;}

 #makeup1
 {grid-area: makeup1;}

 footer
 {grid-area: piepagina;}

 #skincare, #makeup1
 {padding-top: 10px;
    padding-bottom: 10px;}

/*Menu*/
.iconosredes
{width: 25px;
height: 40px;
padding-top: 2%;
padding-bottom: 2%;
padding-right: 1%;}

.alineacioniconos
{display : flex; 
justify-content: flex-end;
align-items:flex-end}

.paddingpics3
{width: 30%;}


.paddingpics2
{ max-width: 45%;
    display:inline-block;
padding-top: 15px;
padding-bottom: 15px;}

/*-------------END GRIDS ZONE for Products----------*/

/*----------SUSTAINTABILITY POLICIES----------*/

/*****
-----VERSION DESKTOP-----
*****/

@media
(min-width: 1024px) {

/*GRIDS SUSTAINTABILITY POLICIES*/
#gridarea4
{display: grid;

/*BOCETO GRILLA DESKTOP*/
grid-template-areas: 
"encabezado"
"menu"
"vidpic"
"piepagina";}}

/*Area Names*/
header
{grid-area: encabezado;}

ul
{grid-area: menu;}

 #vidpic
 {grid-area: vidpic;}

 footer
 {grid-area: piepagina;}

 #vidpic
 {padding-top: 10px;
    padding-bottom: 10px;}

/*Menu*/
.iconosredes
{width: 25px;
height: 40px;
padding-top: 2%;
padding-bottom: 2%;
padding-right: 1%;}

.alineacioniconos
{display : flex; 
justify-content: flex-end;
align-items:flex-end}

/*****
-------VERSION TABLET-------
*****/
@media
(min-width:480px) and (max-width: 1023px)

/*------GRIDS SUSTAINTABILITY-----*/

{#gridarea4
    {display: grid;

        /*BOCETO GRILLA TABLET*/

        grid-template-areas: 
"encabezado"
"menu"
"vidpic"
"piepagina";}}


/*Area Names*/
header
{grid-area: encabezado;}

ul
{grid-area: menu;}

 #vidpic
 {grid-area: vidpic;}

 footer
 {grid-area: piepagina;}

 #vidpic
 {padding-top: 10px;
    padding-bottom: 10px;}

/*Menu*/
.iconosredes
{width: 20px;
height: 20px;
padding-top: 2%;
padding-bottom: 1%;
padding-right: 0.5%;}

.alineacioniconos
{display : flex; 
justify-content: flex-end;
align-items:flex-end}

/*****
-------VERSION MOBILE-------
*****/
@media(max-width: 479px) {


    /*GRIDS OUR COMPANY*/
    #grid-area4
    {display: grid;
        
/*GRIDS SUSTAINTABILITY POLICIES*/

/*BOCETO GRILLA MOBILE*/
grid-template-areas: 
"encabezado"
"menu"
"vidpic"
"piepagina";}}

/*Area Names*/
header
{grid-area: encabezado;}

ul
{grid-area: menu;}

 #vidpic
 {grid-area: vidpic;}

 footer
 {grid-area: piepagina;}

 #vidpic
 {padding-top: 10px;
    padding-bottom: 10px;}

/*Menu*/
.iconosredes
{width: 25px;
height: 40px;
padding-top: 2%;
padding-bottom: 2%;
padding-right: 1%;}

.alineacioniconos
{display : flex; 
justify-content: flex-end;
align-items:flex-end}

/*------------END GRID ZONE for Sustaintability Policies----------*/


/*----------CONTACT US----------*/

/*****
-----VERSION DESKTOP-----
*****/
@media
(min-width: 1024px) {


/*GRIDS CONTACT US*/
#grid-area5
{display: grid;

/*BOCETO GRILLA DESKTOP*/
grid-template-areas: 
"encabezado encabezado"
"menu menu"
"form form"
"piepagina piepagina";}}

/*Area Names*/
header
{grid-area: encabezado;}

ul
{grid-area: menu;}

 #form
 {grid-area: form;}

 footer
 {grid-area: piepagina;}

 #form
 {padding-top: 10px;
    padding-bottom: 10px;}

    /*Menu*/
.iconosredes
{width: 25px;
height: 40px;
padding-top: 2%;
padding-bottom: 2%;
padding-right: 1%;}

.alineacioniconos
{display : flex; 
justify-content: flex-end;
align-items:flex-end}


/*****
-------VERSION TABLET-------
*****/

@media
(min-width:480px) and (max-width: 1023px)
/*------GRIDS CONTACT US-----*/
{#grid-area5
    {display: grid;

        /*BOCETO GRILLA TABLET*/
grid-template-areas: 
"encabezado"
"menu"
"form"
"piepagina";}}

/*Area Names*/
header
{grid-area: encabezado;}

ul
{grid-area: menu;}

 #form
 {grid-area: form;}

 footer
 {grid-area: piepagina;}

 #form
 {padding-top: 10px;
    padding-bottom: 10px;}

/*Menu*/
.iconosredes
{width: 20px;
height: 20px;
padding-top: 2%;
padding-bottom: 1%;
padding-right: 0.5%;}

.alineacioniconos
{display : flex; 
justify-content: flex-end;
align-items:flex-end}

/*****
-------VERSION MOBILE-------
*****/
@media(max-width: 479px) 

    /*GRIDS CONTACT US*/
    {#grid-area5
    {display: grid;
    

/*BOCETO GRILLA MOBILE*/
grid-template-areas: 
"encabezado"
"menu"
"form"
"piepagina";}}

/*Area Names*/
header
{grid-area: encabezado;}

ul
{grid-area: menu;}

 #form
 {grid-area: form;}

 footer
 {grid-area: piepagina;}

 #form
 {padding-top: 10px;
    padding-bottom: 10px;}

    /*Menu*/
    .iconosredes
    {width: 25px;
    height: 40px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 1%;}
    
    .alineacioniconos
    {display : flex; 
    justify-content: flex-end;
    align-items:flex-end}

/*------------END GRID ZONE for Contact us---------*/

/*Padding for Paragraphs*/
.oneline
{display: inline-flex;}

/*COLORS SECTION*/
.mitadcolor
{display:flex;
width: 50%;}

.oneline
{display: inline-flex;}

.centrar
{align-items: center;}

.enddetails
{padding-bottom: 30px;}
