/*RESPONSIVE DESIGN*/
/*MEDIA QUERIES*/
/*INDEX*/
/*VERSION DESKTOP*/
@media
(min-width: 1024px) {


/*GRIDS INDEX*/
#grid-area
{display: grid;

/*BOCETO DE GRILLA*/
grid-template-areas: 
"encabezado encabezado"
"menu menu"
"beauty beauty"
"animals animals"
"colors colors"
"piepagina piepagina";}

#beauty, #animals, #colors 
{padding-top: 20px;
padding-bottom: 20px;}

/*Area Names*/
header
{grid-area: encabezado;}

nav
{grid-area: menu;}

 #beauty
 {grid-area: beauty;}

 #animals
 {grid-area: animals;}

 #colors
 {grid-area: colors;}

 #parrafo
 {grid-area: parrafo;}

 footer
 {grid-area: piepagina;}


/*CONFIGURACION GENERAL DEL SITIO*/
/*Fonts*/

body{

width: 100%;
height: 100vh;} 

/*Margenes*/
*{margin: 0;
    padding: 0%;}    

/* Fondo de mi archivo + ANIMACION Y TRANSICIONES*/

/*fondo degradado*/
.background{ 
background:  #F5D9E4 }

Transicion
.transicion
{transition: all 2s}

.transicion
:hover
{width 750px;
    height: 300px;
border-color: black;
border-radius: 45px; }

/*Transform

.movimiento{ transform: translateX(-300px);}
*/  

header{
    background-color: black;}

.backgroundbanner{ 
    background-image:url(https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-black-luxury-perfume-background-banner-image_264575.jpg);
    background-size: cover;}

p{
    padding-top: 15px;
    padding-bottom: 15px;}

h3
{padding-top: 8px;}

/*HEADER*/
.miley {
    color: #F844FA;}

.padding {
    padding-left: 1%;
    padding-right: 1%;}

.iconosredes
{width: 3%;
    height: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 1%;}

.alineacioniconos
{display : flex; 
justify-content: flex-end;
align-items:flex-end}


/*MENU*/
.navbackground
{background-color: black;
    padding-bottom: 2%;
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;}

.onelinemenu
{display: inline-block; 
width: 100%;}

span {
    display: inline-block;
padding-right: 5%;
padding-left: 5%;}

.menunounderline {
    text-decoration: none;
    color:#FAB3D4;}


/*BEAUTY SECTION*/
.paddingpics1
{max-width: 33%;
display: inline-block;}

.paddingpics2
{  max-width: 100%;
    display: inline-block;}

/*PADDING FOR PRODUCTS*/
.paddingpics3
{width: 30%;}



/*COLORS SECTION*/
.mitadcolor
{display:flex;
width: 50%;}

.oneline
{display: inline-flex;}

.centrar
{align-items: center;}

.enddetails
{padding-bottom: 30px;}

/*FOOTER*/
.diseñopie
{background-color: black;
padding-top: 20px;
padding-left: 5px;
padding-bottom: 20px;
 color:  #F844FA;
font-weight: bold;} }


/*VERSION TABLET*/
@media
(min-width:480px) and (max-width: 1023px)
/*GRIDS INDEX*/
{#grid-area
{display: grid;

/*BOCETO DE GRILLA*/
grid-template-areas: 
"encabezado encabezado"
"menu menu"
"beauty beauty"
"animals animals"
"colors colors"
"piepagina piepagina";}

#beauty, #animals, #colors 
{padding-top: 20px;
padding-bottom: 20px;}

/*Area Names*/
header
{grid-area: encabezado;}

nav
{grid-area: menu;}

 #beauty
 {grid-area: beauty;}

 #animals
 {grid-area: animals;}

 #colors
 {grid-area: colors;}

 #parrafo
 {grid-area: parrafo;}

 footer
 {grid-area: piepagina;}


/*CONFIGURACION GENERAL DEL SITIO*/
/*Fonts*/
body{
    font-family: 'playfair';
width: 100%;
height: 100vh;} 

/*Margenes*/
*{margin: 0;
padding: 0%;}    

/* Fondo de mi archivo*/
.background{
    background:  #9f476a}

header{ 
    background-color: black;}

.backgroundbanner{ 
    background-image:url(https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-black-luxury-perfume-background-banner-image_264575.jpg);
    background-size: cover;}

p{
    padding-top: 15px;
    padding-bottom: 15px;}

h3
{padding-top: 8px;}

/*HEADER*/
.miley {
    color: #F844FA;}

.padding {
    padding-left: 1%;
    padding-right: 1%;}

.iconosredes
{width: 20px;
height: 20px;
padding-top: 2%;
padding-bottom: 1%;
padding-right: 0.5%;}

.alineacioniconos
{display : flex; 
justify-content: flex-end;
align-items:flex-end}


/*MENU*/
.navbackground
{background-color: black;
    padding-bottom: 2%;
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;}

.onelinemenu
{display: inline-block; 
width: 100%;}

span {
    display: inline-block;
padding-right: 5%;
padding-left: 5%;}

.menunounderline {
    text-decoration: none;
    color:#FAB3D4;}


/*BEAUTY SECTION*/
.paddingpics1
{max-width: 33%;
margin-top: 20px;
display: inline-block;}

.paddingpics2
{  max-width: 90%;
    display: inline-block;}


/*COLORS SECTION*/
.mitadcolor
{display:flex;
width: 50%;}

.oneline
{display: inline-flex;}

.centrar
{align-items: center;}

.enddetails
{padding-bottom: 30px;}

/*FOOTER*/

.diseñopie
{background-color: black;
padding-top: 20px;
padding-left: 5px;
padding-bottom: 20px;
 color:  #F844FA;
font-weight: bold;} }


/*VERSION MOBILE*/

@media(max-width: 479px)

/*GRIDS INDEX*/
{#grid-area
{display: grid;

/*BOCETO DE GRILLA*/
grid-template-areas: 
"encabezado"
"menu menu"
"beauty"
"animals"
"colors"
"piepagina";}

#beauty, #animals, #colors  
{padding-top: 20px;
padding-bottom: 20px;}

/*Area Names*/
header
{grid-area: encabezado;}

nav
{grid-area: menu;}

 #beauty
 {grid-area: beauty;}

 #animals
 {grid-area: animals;}

 #colors
 {grid-area: colors;}

 #parrafo
 {grid-area: parrafo;}

 footer
 {grid-area:piepagina;}


/*CONFIGURACION GENERAL DEL SITIO*/
/*Fonts*/
@font-face {
    font-family: 'playfair';
    src: url(playfair/PlayfairDisplay-Regular.ttf)}


body{
font-family: 'playfair';
width: 100%;
height: 100vh;} 

/*Margenes*/
*{margin: 0;
padding: 0%;}    

/* Fondo de mi archivo*/
.background{ 
    background:  #F5D9E4 }

header{ 
    background-color: black;}

.backgroundbanner{ 
    background-image:url(https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-black-luxury-perfume-background-banner-image_264575.jpg);
    background-size: cover;}

p{
    padding-top: 15px;
    padding-bottom: 15px;}

h3
{padding-top: 8px;}

/*HEADER*/
.miley {
    color: #F844FA;}

.padding {
    padding-left: 1%;
    padding-right: 1%;}

.iconosredes
{width: 25px;
height: 40px;
padding-top: 2%;
padding-bottom: 2%;
padding-right: 1%;}

.alineacioniconos
{display : flex; 
justify-content: flex-end;
align-items:flex-end}


/*MENU*/
.navbackground
{background-color: black;
    padding-bottom: 2%;
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;}

.onelinemenu
{display: inline-block; 
width: 100%;}

span {
display: inline-block;
padding-right: 5%;
padding-left: 5%;}

.menunounderline {
    text-decoration: none;
    color:#FAB3D4;}


/*BEAUTY SECTION*/
.paddingpics1
{max-width: 30%;    
margin-top: 20px;
display: inline-block;}

.paddingpics2
{  max-width: 100%;
    display: inline-block;}


/*COLORS SECTION*/

.enddetails
{padding-bottom: 30px;}

/*FOOTER*/
.diseñopie
{background-color: black;
padding-top: 20px;
padding-left: 5px;
padding-bottom: 20px;
 color:  #ee91d5ef;
font-weight: bold;} 



/*------------------------------
OUR COMPANY
--------------------------------*/
/* ----- PRIMERO ----- */ 

/*VERSION DESKTOP*/
@media
(min-width: 1024px) {


/*GRIDS INDEX*/
#grid-area2
{display: grid;

/*BOCETO DE GRILLA*/
grid-template-areas: 
"encabezado encabezado"
"menu menu"
"our story our story"
"our location ourlocation"
"academies academies"
"piepagina piepagina"}


/*Area Names*/
header
{grid-area: encabezado;}

nav
{grid-area: menu;}

 #ourstory
 {grid-area: ourstory;}

 #location
 {grid-area: location;}

 #academies
 {grid-area: academies;}

 footer
 {grid-area: piepagina;}


 #ourstory, #location, #academies
 {padding-top: 20px;
 padding-bottom: 20px;
padding-right: 1%;
padding-left: 1%;}



/*----- TERCERO -----*/

/*VERSION MOBILE*/
@media(max-width: 479px) {


/*GRIDS INDEX*/
#grid-area2
{display: grid;

/*BOCETO DE GRILLA*/
grid-template-areas: 
"encabezado"
"menu"
"our story"
"our location"
"academies"
"piepagina";}


/*Area Names*/
header
{grid-area: encabezado;}

nav
{grid-area: menu;}

 #ourstory
 {grid-area: ourstory;}

 #location
 {grid-area: location;}

 #academies
 {grid-area: academies;}

 footer
 {grid-area: piepagina;}


 #ourstory, #location, #academies 
 {padding-top: 10%;
 padding-bottom: 10%;
padding-right: 1%;
padding-left: 1%;}



/*-----------------------------
PRODUCTS
--------------------------------*/

/*VERSION DESKTOP*/
@media
(min-width: 1024px) {


/*GRIDS INDEX*/
#grid-area2
{display: grid;

/*BOCETO DE GRILLA*/
grid-template-areas: 
"encabezado encabezado"
"menu menu"
"our story our story"
"our location ourlocation"
"academies academies"
"piepagina piepagina";}

#beauty, #animals, #colors 
{padding-top: 20px;
padding-bottom: 20px;}

/*Area Names*/
header
{grid-area: encabezado;}

nav
{grid-area: menu;}

 #takingcare
 {grid-area: takingcare;}

 #beautyproducts
 {grid-area: beautyproducts;}

 footer
 {grid-area: piepagina;}


 #takingcare, #beautyproducts
 {padding-top: 20px;
    padding-bottom: 20px;
padding-right: 1%;
padding-left: 1%;}
